<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
  <head>
    <th:block th:replace="~{common/head :: head}"></th:block>
  </head>

  <body>
    <header th:replace="~{common/header :: header}"></header>
    <main>
      <div class="com-inner">
        <div class="com-form">
          <h2 class="title-h2">ユーザーログイン</h2>

          <p th:if="${loginError}" class="new-error" th:text="${loginError}"></p>

          <form th:method="post" th:action="@{/login}" class="user">
            <div class="com-field">
              <label class="login-email">メールアドレス</label><br />
              <input type="text" id="email" name="email" autofocus="autofocus" />
            </div>

            <div class="com-field">
              <label class="login-password">パスワード(6文字以上)</label><br />
              <input type="password" name="password" autocomplete="off" />
            </div>

            <div class="com-actions">
              <input class="com-btn" type="submit" value="ログイン" data-disable-with="ログイン" />
            </div>
          </form>
          <div class="password-find">
            <a th:href="@{/users/password/find}">パスワードを忘れましたか？</a>
          </div>
        </div>
      </div>
    </main>

    <footer th:replace="~{common/footer :: footer}"></footer>
  </body>
</html>
