<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
  <head>
    <th:block th:replace="~{common/head :: head}"></th:block>
  </head>
  <body>
    <header th:replace="~{common/header :: header}"></header>
    <main class="com-inner">
      <div class="com-form">
        <h2 class="title-h2">パスワードの再設定</h2>
        <p>新しいパスワードを入力してください。</p>

        <form th:action="@{/users/password/reset}" th:object="${passwordResetForm}" method="post">
          <div class="com-field">
            <label>新しいパスワード (6文字以上)</label><br />
            <input type="password" th:field="*{password}" autocomplete="new-password" />
            <p
              th:if="${#fields.hasErrors('password')}"
              th:errors="*{password}"
              class="new-error"
            ></p>
          </div>

          <div class="com-field">
            <label>パスワードの再入力</label><br />
            <input type="password" th:field="*{passwordConfirmation}" autocomplete="new-password" />
            <p
              th:if="${#fields.hasErrors('passwordConfirmation')}"
              th:errors="*{passwordConfirmation}"
              class="new-error"
            ></p>
          </div>

          <p th:if="${errorMessage}" th:text="${errorMessage}" class="new-error"></p>

          <div class="com-actions">
            <input class="com-btn" type="submit" value="パスワードを変更する" />
          </div>
        </form>
      </div>
    </main>
    <footer th:replace="~{common/footer :: footer}"></footer>
  </body>
</html>
