<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
  <head>
    <th:block th:replace="~{common/head :: head}"></th:block>
  </head>

  <body>
    <header th:replace="~{common/header :: header}"></header>
    <main class="user-show-container">
      <section class="user-show-info">
        <h2 class="user-show-h2" th:text="${user.name} + 'さんの情報'">名前さんの情報</h2>
        <!-- ユーザーデータテーブル -->
        <table class="user-show-info-table">
          <tr>
            <th>名前</th>
            <td th:text="${user.name}">名前</td>
          </tr>

          <tr>
            <th>プロフィール</th>
            <td th:text="${user.profile}">プロフィール</td>
          </tr>

          <tr>
            <th>所属</th>
            <td th:text="${user.department}">所属</td>
          </tr>

          <tr>
            <th>役職</th>
            <td th:text="${user.position}">役職</td>
          </tr>
        </table>
      </section>

      <section class="user-show-prototype-section">
        <h2 class="user-show-prototype-name" th:text="${user.name} + 'さんのプロトタイプ'">
          名前さんのプロトタイプ
        </h2>
        <!-- ユーザー個人のPrototype一覧 -->
        <div class="prototype-index-card_wrapper">
          <div th:each="prototype : ${prototypes}" class="prototype-index-card">
            <!-- Prototype詳細ページリンク -->
            <a
              id="prototype_link"
              th:href="@{/prototypes/{prototypeId}(prototypeId=${prototype.id})}"
              ><img class="prototype-index-card_img" th:src="@{${prototype.image}}" alt="img"
            /></a>

            <div class="prototype-index-card_body">
              <h3 th:text="${prototype.name}" class="prototype-index-card_title">
                プロトタイプタイトル
              </h3>
              <p class="prototype-index-card_summary" th:text="${prototype.catchCopy}"></p>

              <a
                th:href="@{/users/{id}(id=${user.id})}"
                th:text="|by ${user.name}|"
                class="prototype-index-card_user"
                >by 名前</a
              >
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer th:replace="~{common/footer :: footer}"></footer>
  </body>
</html>
