<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
  <head>
    <th:block th:replace="~{common/head :: head}"></th:block>
  </head>

  <body>
    <header th:replace="~{common/header :: header}"></header>
    <main class="user-show-container">
      <div
        id="confirmModal"
        class="modal-overlay"
        style="display: none"
        onclick="closeOnOverlayClick(event, 'confirmModal')"
      >
        <div class="modal-content" onclick="event.stopPropagation()">
          <h3>ほんとにアカウントを削除しますか？</h3>
          <p>
            削除すると、これまでに投稿したプロトタイプや<br />
            コメントなどの<strong>データはすべて削除され、復元できません。</strong>
          </p>
          <div class="modal-footer">
            <button type="button" onclick="closeModal('confirmModal')" class="modal-close-btn">
              戻る
            </button>
            <button type="button" th:onclick="|executeDelete(${user.id})|" class="modal-close-btn">
              削除する
            </button>
          </div>
        </div>
      </div>

      <div id="successModal" class="modal-overlay" style="display: none">
        <div class="modal-content">
          <h3>アカウント削除完了</h3>
          <p>
            ご利用ありがとうございました。<br />
            アカウント削除が無事に行われました。
          </p>
          <button type="button" onclick="goToIndex()" class="modal-close-btn">
            トップページへ
          </button>
        </div>
      </div>

      <section class="user-show-info">
        <div class="user-show-info-head">
          <h2 class="user-show-h2" th:text="${user.name} + 'さんの情報'">名前さんの情報</h2>
          <div
            class="user-show-button-section"
            th:if="${#authorization.expression('isAuthenticated()') and #authentication.principal.getId == user.id}"
          >
            <div class="prototype-show-button-section">
              <a th:href="@{/users/{id}/edit(id=${user.id})}" class="prototype-show-btn"
                >編集する</a
              >
              <button type="button" class="prototype-show-btn" onclick="openWithdrawModal()">
                アカウント削除
              </button>
            </div>
          </div>
        </div>

        <!-- ユーザーデータテーブル -->
        <table class="user-show-info-table">
          <tr>
            <th>名前</th>
            <td th:text="${user.name}">名前</td>
          </tr>

          <tr>
            <th>プロフィール</th>
            <td th:text="${user.profile}">プロフィール</td>
          </tr>

          <tr>
            <th>所属</th>
            <td th:text="${user.department}">所属</td>
          </tr>

          <tr>
            <th>役職</th>
            <td th:text="${user.position}">役職</td>
          </tr>
        </table>
      </section>

      <section class="user-show-prototype-section">
        <h2 class="user-show-prototype-name" th:text="${user.name} + 'さんのプロトタイプ'">
          名前さんのプロトタイプ
        </h2>
        <!-- ユーザー個人のPrototype一覧 -->
        <div class="prototype-index-card_wrapper">
          <div th:each="prototype : ${prototypes}" class="prototype-index-card">
            <!-- Prototype詳細ページリンク -->
            <a
              id="prototype_link"
              th:href="@{/prototypes/{prototypeId}(prototypeId=${prototype.id})}"
              ><img class="prototype-index-card_img" th:src="@{${prototype.image}}" alt="img"
            /></a>

            <div class="prototype-index-card_body">
              <h3 th:text="${prototype.name}" class="prototype-index-card_title">
                プロトタイプタイトル
              </h3>
              <p class="prototype-index-card_summary" th:text="${prototype.catchCopy}"></p>

              <a
                th:href="@{/users/{id}(id=${user.id})}"
                th:text="|by ${user.name}|"
                class="prototype-index-card_user"
                >by 名前</a
              >
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer th:replace="~{common/footer :: footer}"></footer>
  </body>
</html>
