/* ==========================================
   リセットCSS
   ========================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* ==========================================
   Header
   ========================================== */
header {
  background-color: #f1f8fe;
  margin-bottom: 48px;
  padding: 20px 0;
  width: 100%;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-logo img {
  height: 40px;
  display: block;
}

.header-menus {
  display: flex;
  gap: 10px;
}

.regist-btn,
.login-btn {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87cefa;
  text-decoration: none;
  user-select: none;
  border: 1px #87cefa solid;
  border-radius: 3px;
  transition: 0.4s ease;
  cursor: pointer;
}

.regist-btn:hover,
.login-btn:hover {
  background-color: #87cefa;
  color: #fff;
}

/* ==========================================
   main
   ========================================== */
main {
  flex: 1;
}

/* ==========================================
   Footer
   ========================================== */
footer {
  background-color: #999;
  padding: 10px 0;
  text-align: center;
  color: #fff;
  margin-top: auto;
}

.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

/* ==========================================
  プロトタイプ投稿画面
  ========================================== */

.prototype-new-inner {
  width: 1024px;
  margin: 0 auto;
}

.prototype-new-form-wrapper {
    min-height: calc(100vh - 161px);
}

.prototype-new-page-heading {
    font-size: 30px;
    margin-bottom: 28px;
}

.prototype-new-field {
    margin: 10px 0;
}

.prototype-new-field textarea {
    width: 50%;
}

.prototype-new-form-btn {
    display: inline-block;
    padding: 0.4em 1.6em;
    font-size: 0.8em;
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: #87CEFA;
    border: 1px #87CEFA solid;
    border-radius: 3px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    transition: 0.2s ease;
}

.prototype-new-actions {
    margin-bottom: 40px;
}

@media (max-width: 1024px) {
  .prototype-new-inner {
      width: 90%;
      margin: 0 auto;
  }

  .prototype-new-page-heading {
    font-size: 24px;
  }
}
