<!DOCTYPE html>
<head>
  <th:block th:replace="~{common/head :: head}"></th:block>
</head>
<body>
  <header th:replace="~{common/header :: header}"></header>
  <main>
    <div class="prototype-new-inner">
      <div class="prototype-new-form-wrapper">
        <h2 class="prototype-new-page-heading">プロトタイプ編集</h2>
        <div
          th:if="${errorMessages}"
          th:each="error : ${errorMessages}"
          class="prototype-new-error"
        >
          <div th:text="${error}"></div>
        </div>
        <form
          th:action="@{/prototypes/{id}/update(id=${id})}"
          th:method="post"
          th:object="${prototypeForm}"
          enctype="multipart/form-data"
        >
          <div class="prototype-new-field">
            <label th:for="name">プロトタイプの名称</label>
            <br />
            <input type="text" th:field="*{name}" id="name" />
          </div>

          <div class="prototype-new-field">
            <label th:for="catchCopy">キャッチコピー</label>
            <br />
            <textarea th:field="*{catchCopy}" id="catchCopy"></textarea>
          </div>

          <div class="prototype-new-field">
            <label th:for="concept">コンセプト</label>
            <br />
            <textarea th:field="*{concept}" id="concept"></textarea>
          </div>

          <div class="prototype-new-field">
            <label th:for="image">プロトタイプの画像</label>
            <br />
            <input type="file" th:field="*{image}" id="image" />
          </div>

          <div class="prototype-new-actions">
            <input type="submit" value="保存する" class="prototype-new-form-btn" />
          </div>
        </form>
      </div>
    </div>
  </main>

  <footer th:replace="~{common/footer :: footer}"></footer>
</body>
